.get-featured-root {
  padding-top: 100px;
}

.get-featured-title {
  font-family: 'Rock Salt', cursive;
}

.get-featured-line {
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.9), 0 8px 24px rgba(0, 0, 0, 0.8);
}
